all the required software present in conda

absl-py==0.9.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-project==0.8.3
antlr4-python3-runtime==4.8
appdirs==1.4.3
argh==0.26.2
asn1crypto==1.3.0
astor==0.8.1
astroid==2.4.1
astropy==4.0.1.post1
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.4
Babel==2.8.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.9.0
bert-embedding==1.0.1
bert-serving-client==1.10.0
bert-serving-server==1.10.0
bitarray==1.2.1
bkcharts==0.2
bleach==3.1.4
blis==0.4.1
bokeh==2.0.2
boto==2.49.0
boto3==1.14.51
botocore==1.17.51
Bottleneck==1.3.2
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.4.1
clyent==1.2.2
colorama==0.4.3
ConceptNet==5.7.0
ConfigArgParse==0.15.1
contextlib2==0.6.0.post1
contextvars==2.4
coolgpus==0.16
cryptography==2.9.2
cycler==0.10.0
cymem==2.0.2
Cython==0.29.17
cytoolz==0.10.1
dask==2.17.2
dataclasses==0.8
dateparser==0.7.2
datrie==0.8
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20181111
distributed==2.17.0
docutils==0.15.2
editdistance==0.5.3
en-core-web-sm==2.2.0
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
fasttext==0.9.2
filelock==3.0.12
flake8==3.8.2
Flask==1.1.2
fsspec==0.7.4
ftfy==5.6
future==0.18.2
gast==0.2.2
gensim==3.8.1
gevent==1.4.0
gitdb2==2.0.6
GitPython==3.0.4
Glances==3.1.3
glob2==0.7
gluonnlp==0.6.0
gmpy2==2.0.8
google-pasta==0.2.0
GPUtil==1.4.0
graphviz==0.8.4
greenlet==0.4.15
grpcio==1.29.0
h5py==2.8.0
HeapDict==1.0.1
html2text==2020.1.16
html5lib==1.0.1
hydra-core==1.0.6
hypothesis==5.11.0
idna==2.10
imageio==2.8.0
imagesize==1.2.0
immutables==0.11
importlib-metadata==0.23
importlib-resources==5.1.0
inflect==3.0.1
intervaltree==3.0.2
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.2
jeepney==0.4.3
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
json5==0.9.4
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==1.2.6
jupyterlab-server==1.1.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==21.1.1
kiwisolver==1.1.0
langcodes==1.4.1
lazy-object-proxy==1.4.3
libarchive-c==2.9
liblinear==2.11.2
llvmlite==0.32.1
locket==0.2.0
lxml==4.4.1
marisa-trie==0.7.5
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools==7.2.0
mpmath==1.1.0
msgpack==0.6.2
msgpack-python==0.5.6
multipledispatch==0.6.0
murmurhash==1.0.2
mxnet==1.5.0
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.4
nltk==3.4.5
nose==1.3.7
notebook==6.0.3
numba==0.49.1
numexpr==2.7.1
numpy==1.19.5
numpydoc==0.9.2
olefile==0.46
omegaconf==2.0.6
openpyxl==3.0.3
opt-einsum==3.2.1
ordered-set==3.1.1
packaging==20.4
pandas==0.25.2
pandocfilters==1.4.2
parso==0.5.2
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pendulum==2.0.5
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
pkginfo==1.5.0.1
plac==1.1.3
pluggy==0.13.1
ply==3.11
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==3.0.4
protobuf==3.9.2
psutil==5.6.5
psycopg2-binary==2.8.4
ptyprocess==0.6.0
py==1.8.1
pybind11==2.5.0
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.5
pydocstyle==4.0.1
pyemd==0.5.1
pyflakes==2.2.0
Pygments==2.6.1
pylint==2.5.2
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.15.5
PySocks==1.7.1
pytest==5.4.2
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-doctestplus==0.5.0
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.9
pytorch-transformers==1.2.0
pytz==2019.3
pytzdata==2019.3
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.4.1
pyzmq==18.1.1
QDarkStyle==2.8.1
QtAwesome==0.7.0
qtconsole==4.7.4
QtPy==1.9.0
ratelimiter==1.2.0.post0
regex==2020.7.14
requests==2.24.0
rope==0.17.0
Rtree==0.9.4
ruamel-yaml==0.15.87
s3transfer==0.3.3
sacremoses==0.0.43
scikit-image==0.16.2
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.10.1
SecretStorage==3.1.2
Send2Trash==1.5.0
sentencepiece==0.1.92
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
smart-open==1.8.4
smmap2==2.0.5
snakemake==5.7.4
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==2.0
spacy==2.2.2
Sphinx==3.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.1
spyder==4.1.3
spyder-kernels==1.9.1
SQLAlchemy==1.3.17
srsly==0.2.0
statsmodels==0.11.1
sympy==1.5.1
tables==3.4.4
tblib==1.6.0
tensorboard==1.15.0
tensorboardX==1.8
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thinc==7.3.1
tokenizers==0.8.1rc1
toml==0.10.0
toolz==0.10.0
torch==1.6.0+cu101
torchvision==0.7.0+cu101
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
transformers==3.0.2
typed-ast==1.4.1
typing==3.6.6
typing-extensions==3.7.4.3
tzlocal==2.0.0
ujson==1.35
unicodecsv==0.14.1
urllib3==1.25.10
utils==1.0.1
wasabi==0.3.0
watchdog==0.10.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
wikipedia==1.4.0
wordfreq==2.2.1
wptools==0.4.17
wrapt==1.11.2
wurlitzer==2.0.0
xlrd==1.2.0
XlsxWriter==1.2.8
xlwt==1.3.0
xmltodict==0.11.0
yapf==0.28.0
zict==2.0.0
zipp==3.4.0
